<div class="featured-products">
  <h2 class="text-align-center">{{ 'Products'|t }}</h2>
  {% for product in products %}
    <div class="featured-product">
      {{ render_var(product) }}
    </div>
  {% endfor %}
</div>

